@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "~@fortawesome/fontawesome-free/scss/solid.scss";
@import "~@fortawesome/fontawesome-free/scss/brands.scss";

.animated.infinite {
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}
.fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
}

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

#g-map{
    height: 500px;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

html{
    font-size: 16px;
    &.lang-en{
        body{
            font-family: 'Poppins','Noto Sans JP', sans-serif;
        }
    }
}


body{
    padding: 0;
    margin:0;
    font-family: 'Noto Sans JP', sans-serif;
    color:#FFF;
}

h1,h2,h3,h4,h5,h6,p{
    //color:#FFF;
}

h1,h2,h3{
    font-weight: 700;
}

.poppins{

    font-family: 'Poppins','Noto Sans JP', sans-serif;

}

.scroll-down {
    @extend .poppins;
    position: absolute;
    z-index: 99;
    color: #FFF;
    bottom: 0;
    left: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    white-space: nowrap;
    width: 0;
    h3,h4{
        font-size: 16px;

    }
}

.section_title_svg{
    img{
        width: 100%;
        position: relative;
        z-index: 1;
    }

    &.not-fill img{
        height: 10.3rem;
        width: auto;
        max-width: 100%;
    }
}

.pink-linear-bg{
    background-image:$pink-linear;
}

.pink-linear-bg-reverse{
    background-image:$pink-linear-reverse;
}

a.hollow-btn{
    display: inline-block;
    font-size: 20px;
    padding:10px 40px;
    text-align: center;
    color:#FFF;
    border:1px solid #FFF;
    text-decoration: none;
    box-shadow: 0 0 3px #FFF, 0 0 3px #FFF inset;
    letter-spacing: 2px;
    transition: all 0.5s ease;
    font-weight: 700;
    &:hover{
        color:#888;
        background-color: #FFF;

    }
}

.bugger-icon{
    position: absolute;
    background-image: url(/../images/bugger.svg);
    background-size: contain;
    width: 50px;
    height: 38px;
    top: 70px;
    right: 90px;
    z-index: 3;
}

.cross-icon{
    position: absolute;
    background-image: url(/../images/cross.svg);
    background-size: contain;
    width: 20px;
    height: 20px;
    z-index: 3;
    background-position: center;
    background-repeat: no-repeat;
}



.section{
    position: relative;
    overflow: hidden;
}
.overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    left: 0;
}

.divider{
    width: 100%;
    height: 2px;
    display: block;
    margin-top:30px;
    margin-bottom: 25px;
    background-color: #FFF;
}

#header{
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    z-index: 10;
    color:#FFF;
    padding:10px 30px 0;
    transition: all .5s ease;
    &.not-on-top{
        padding-top: 0;
        background: rgba(0,0,0,.5);
        #nav-bottom-bar{
            bottom:0;
        }
        .navbar{
          padding-bottom: 0;
        }
        #logo{
            img{
                width: 40px;
            }

        }

        ul li ul{
            padding: 14px 0 0;
        }
    }

    &.scroll-hide{
        margin-top: -75px;
    }

    #logo{
        width: 50px;
        img{
            transition: all .5s ease;
        }
    }
    .navbar{
        position: static;
    }
    .navbar-nav{
        a{
            color: #FFF;
            //font-size:16px;
            font-size: 14px;
            text-transform: uppercase;
        }
        >li{
            padding-bottom: 10px;
            letter-spacing: 1px;
            font-size: 14px;
            font-weight: 800;
        }
        @media all and (min-width: 991px){
            padding-left: 2vw;
            li{
                position: relative;
                margin-left: 2vw;
                margin-right: 2vw;
                a{

                    padding:0;
                    position: relative;
                    &:after{
                        display: none;
                        content:"";
                        position: absolute;
                        left:0;
                        bottom: -8px;
                        height: 2px;
                        width: 0;
                        background-color: #FFF;
                        transition: all 0.3s ease;
                    }
                }

                ul{
                    opacity: 0;
                    display: none;
                    transition: all 0.3s ease;
                    position: absolute;
                    white-space: nowrap;
                    left:0;
                    top: 100%;
                    list-style: none;
                    margin:0;
                    //padding:5px 5px 10px 5px;
                    //background-color: rgba(0,0,0,.3);
                    padding: 8px 0 0;
                    z-index: 999;
                    li{
                        padding: 0;
                        margin: 0;
                        background: rgba(0, 0, 0, 0.8);
                        padding: 5px 8px;
                        &:last-child{
                            margin-bottom: 0;
                        }
                        a{
                            text-decoration: none;
                            font-size: 14px;
                        }
                    }
                }

                &:hover,&.active{
                    > a{
                        &:after{
                            width: 100%;
                        }
                    }


                }

                &:hover{
                    ul{
                        opacity: 1;
                        display: block;
                    }
                }


            }
        }
        @media all and (min-width: 1200px){
            padding-left: 3vw;

        }

    }

    #nav-bottom-bar {
        opacity: 0;
        width: 100%;
        position: absolute;
        bottom: 20px;
        left: 0;
        height: 50px;
        transition: opacity 0.5s .5s ease,bottom .5s ease;
        pointer-events: none;
        .active-bar{
            height: 3px;
            width: 50px;
            background-color: #FFF;
            position: absolute;
            bottom: 0;
            left: 0;
            transition: all 0.5s ease;
        }
    }

}

#footer{
    padding:30px 20px 0px 20px;
    background-color: $dark_main;

    a{
        color:#FFF;
    }
    .container-fluid{
        border-top:1px solid #FFF;
        border-bottom:1px solid #FFF;
        max-width: 1340px;
        color:#FFF;
        h4{
            font-size: 18px;
            text-transform: uppercase;
        }

        p{
            font-size: 14px;
        }

        a{
            font-size: 14px;
        }

        //background-color: transparent;

    }

    .footer-search{

        input[type=text],input[type=text]:focus{
            background-color: transparent;
            border-top:none;
            border-left: none;
            border-right:none;
            border-radius: 0;
            border-color:#FFF;
            box-shadow: none;
            color:#FFF;
            font-size: 1.1rem;
            font-weight: 700;
            padding-left: 0;
            &:focus{
                &::placeholder{
                    opacity: 0;
                }
            }
            &::placeholder{
                color:#FFF;
                font-size: 1.1rem;
                font-weight: 700;
                transition: all 0.3s;
            }
        }

        .btn{
            border-top:none;
            border-left: none;
            border-right:none;
            border-radius: 0;
            border-color:#FFF;
            color:#FFF;
            overflow: hidden;
            padding:0;
            width: 60px;
            text-align: right;
            svg{

                position: relative;
                polygon{
                    fill: #FFF;
                }

            }

            &:hover{

                background-color: transparent;
                svg{
                    animation: slide-show 1.5s infinite;
                }

            }
        }
    }

    .footer-icon{
        margin-left: 0;
        padding-left: 0;
        display: flex;
        li{
            list-style: none;
            margin-right: 20px;
            a{
                text-decoration: none;
            }
        }
    }
    .copyright{
        color:#FFF;
        text-align: center;
        font-weight: 300;
        padding: 30px 0;
        font-size: 12px;
    }
    @media all and (min-width: 990px){
        .address{
            max-width: 250px;
        }
    }
}

#video{
    position: relative;
    min-height: 51vw;
    overflow: hidden;
    .overlay{
        z-index: 9;
    }
    .container-fluid,.container{
        z-index: 9;
    }

    .hero-image{
        position: absolute;
        z-index: 9;
        bottom: 5px;
        //height: 90vh;
        height: 45vw;
        left: 20%;
    }

    .head-block-content {
        max-width: 1400px;
        margin: auto;
        h1{
            @extend .in-view-fadein-to-top;
            font-size: 40px;
            opacity: 0;

        }
        h2{
            font-size: 45px;
        }
        h1,h2{

            padding:15px 0;
            margin:0;
            position: relative;
            &:before,&:after{
                content: "";
                position: absolute;
                height: 1px;
                width: 20px;
                background: #FFF;
                left:0;
            }
            &:before{
                top:0;
            }
            &:after{
                bottom:0;
            }
        }
        p{
            @extend .in-view-fadein-to-top;
            margin-top: 20px;
            transition-delay: .3s;
        }
    }

}

.icon-ball{
    width: 34px;
    height: 34px;
    border:1px solid #FFF;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color:#FFF;
    font-size: 1.1rem;
    text-decoration: none !important;
}


$arrowainmationtime:0.5;
$top-left-left:20px;

.arrow-box{
    //overflow: hidden;
    .line-arrow{
        position: absolute;
        width: 40px;
        height: auto;
    }
    &:before,&:after{
        content:"";
        background-color: #FFF;
        position: absolute;
    }
    &:before{
        width: 100%;
        height: 1px;
        transition: all $arrowainmationtime+s linear;
    }
    &:after{
        width: 1px;
        height: 100%;
        transition: all ($arrowainmationtime + 0.2)+s ($arrowainmationtime - 0.5)+s ease;
    }

    &.right{
        top: 50%;
        position: absolute;
        height: 200px;
        left: calc(100% + 50px);
        border-left: none;
        border-right: none;
        width: 100vw;
        &:after{
            display: none;
        }

        .line-arrow {
            transform: rotate(90deg);
            left: 50px;
            top: -20px;
            transform-origin: top left;
        }
    }

    &.top-right{
        position: absolute;
        bottom: calc(100% + 20px);
        right: 50%;
        width: 100vw;
        height: 300px;

        .line-arrow{
            right: -20px;
            bottom: 20px;
        }
    }



    &.top-left{

        .line-arrow{
            left: 0;
            bottom: 15px;
            opacity: 0;
            transition: opacity 0.3s ($arrowainmationtime + 0.4)+s linear, transform 0.3s ($arrowainmationtime + 0.4)+s linear;
        }
        padding-left: $top-left-left;
        left: -$top-left-left/2;
        &:before{
            top:0;
            left:$top-left-left;
            margin-left: 100vw;
        }
        &:after{
            left:$top-left-left;
            top:0;
            margin-top:-100%;
        }

        &.active{

            &:before{
                margin-left: 0;
            }
            &:after{
                left:$top-left-left;
                top:0;
                margin-top:0;
            }

            .line-arrow{
                opacity: 1;
                transform: rotateY(180deg);
            }

        }
    }

}

.hollow-text{
    -webkit-text-stroke-width: 0.25px;
    -webkit-text-stroke-color: #FFF;
    color:transparent;
    margin:0;

    //text-align-last: justify;
    //text-align: justify;
    @include media-breakpoint-up(sm){
        text-align-last: left;
        text-align: left;
    }
}

.hollow-title{
    @extend .hollow-text;
    font-size: 220px;
    font-family: 'Poppins', sans-serif;
    white-space: nowrap;
    word-spacing: 20px;
}

.title-rotate-90{
    transform: rotate(90deg);
}

canvas.dots {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.wwd-posts{
    .description-en{
        background: #000;
        padding: 10px;
        margin-bottom: 10px;
        text-align: center;
        transition: all .3s ease;
        transform-origin: bottom center;
        position: relative;
        p{
            font-size: 12px;
            margin: 0;
            color:#FFF;
        }
    }
    a:hover{
        text-decoration: none;
        .description-en{
            transform: scale(1.1) translateY(-50%);
        }
        .wwd-block{
            &:not(.no-effect){
                .effect{
                    transform: scale(1.1);
                }

                .block-video,.block-image{
                    transform: scale(1.3);
                }
                .block-video{
                    opacity: 1;
                }
                animation: Pinklinear 1s ease;


                .readmore{
                    span{
                        margin-left: 0;
                    }
                }
            }
        }
    }
    .wwd-block{
        position: relative;
        max-width: 435px;
        margin:auto;
        //padding-bottom: 35px;
        background-image: linear-gradient(100deg, #e74385 0%, #f5c53a 50%, #f5c53a 50%, #e74385 100%);
        background-size: 200% 200%;
        //background-position: 50% 100%;
        cursor: pointer;
        //transition: all 0.5s ease;
        color:#FFF;
        &.no-effect{
            cursor: auto;
        }
        .readmore{
            height: 66px;
            overflow: hidden;
            position: relative;
            text-decoration: none;
            display: flex;
            align-items: center;
            padding: 0 15px;
            font-weight: 700;
            font-size: 18px;
            letter-spacing: 1px;
            span{
                display: block;
                text-decoration: none;
                position: relative;
                transition: all .3s ease;
                @include media-breakpoint-up(lg){
                    margin-left: -100%;
                }
            }
        }

        //&:before {
        //    content: "";
        //    background: #000;
        //    height: calc(100% - 35px);
        //    position: absolute;
        //    top: 0;
        //    left: 0;
        //    opacity: .3;
        //    z-index: 0;
        //    transition: all .5s ease;
        //    width: 0;
        //    height: 0;
        //}

        @include media-breakpoint-up(lg){
            max-width: 350px;
        }
        @include media-breakpoint-up(xxl){
            max-width: 435px;
        }
        .block-image{
            //opacity: 0;
            transition: all .5s ease;
            transform-origin: center;
        }
        .block-video{
            position: absolute;
            width: 100%;
            height: 100%;
            top:0;
            left: 0;
            transition: all .8s ease;
            transform-origin: center;
            transform: scale(2);
            opacity: 0;
            video{
                height: 100%;
                width: 177%;
                margin-left: -38%;
            }
        }
        .effect{
            transition: all .3s ease;
            transform-origin: bottom center;
            position: relative;
            //overflow: hidden;
            top:-1px;
            .effect-container{
                overflow: hidden;
                position: relative;
            }
        }

        //&:hover:not(.no-effect){
        //
        //    .effect{
        //        transform: scale(1.1);
        //    }
        //
        //    .block-video,.block-image{
        //        transform: scale(1.3);
        //    }
        //    .block-video{
        //        opacity: 1;
        //    }
        //    animation: Pinklinear 1s ease;
        //
        //
        //    .readmore{
        //        span{
        //            margin-left: 0;
        //        }
        //    }
        //
        //}
        .wwd-title{
            position: absolute;
            margin-top: 50%;
            left: 0.5em;
            top: 0;
        }
        .wwd-title span{
            background-color: #000;
            box-shadow: 0.5em 0 0 #000, -0.5em 0 0 #000;
            line-height: 1.7;
            font-family: 'Poppins', sans-serif;
        }
        .wwd-description {
            position: absolute;
            right: -20px;
            top: -15px;
        }
        .wwd-description {
            span{
                background: #000;
                /* padding-top: 5px; */
                box-shadow: 0 -0.7em 0 #000, 0 0.7em 0 #000;
                font-size: .9rem;
                padding: 0 2px;
            }

        }
        .additional-des {
            background: #000;
            width: calc(100% + 20px);
            position: absolute;
            bottom: calc(100% + 30px);
            padding: 5px 10px;
            border-radius: 10px;
            left: -10px;
            opacity: 0;
            pointer-events: none;
            transition: all 0.5s ease;
        }
        .block-image{
            width:100%;
            padding-top:100%;
            height: 0;
            background-position: center;
            background-size: cover;
        }
    }

}

.two-line-title{
    font-size: 1.2rem;
    display: inline-block;
    border-bottom: 2px solid #FFF;
    padding-bottom: 10px;
}

#contact_block{
    position:relative;
    background: $team-linear-engineer;
    .overlay{
        background-image:url(/../images/contact-bg.png);
        background-size: cover;
        background-position: center;
    }
    .container{
        min-height: 500px;
        text-align: center;
        margin: 0 auto;
        background: transparent;
        h2{
            font-size: 40px;
        }
    }
    .contact-social{
        position: absolute;
        top:0;
        left:0;
        padding:40px 35px;
        height: 100%;
        display: flex;
        align-items: center;
        &:after{
            content: "";
            width: 1px;
            height: calc(100% - 80px);
            background: #FFF;
            position: absolute;
            right: 0;
            top:40px;
        }
        ul{
            margin:0;
            padding:0;
            li{
                list-style: none;
                margin-bottom: 20px;
            }
        }
    }

    .go-top{
        font-size: 25px;
        color: #FFF;
        text-decoration: none;
        font-weight: 300;
        display: block;
        margin-bottom: 60px;
        &:before{
            content:"";
            display: block;
            width: 1px;
            height: 120px;
            background: #FFF;
            margin: auto;
        }
    }

    a.contact-btn{

        @extend .hollow-btn;
        margin-top:60px;
        padding:10px 0px;
        width: 135px;
        font-style: italic;
        //display: inline-block;
        //font-size: 20px;
        //padding:10px 0;
        //text-align: center;
        //color:#FFF;
        //width: 135px;
        //font-style: italic;
        //border:1px solid #FFF;
        //text-decoration: none;
        //box-shadow: 0 0 3px #FFF, 0 0 3px #FFF inset;
        //letter-spacing: 2px;
        //transition: all 0.5s ease;
        //font-weight: 700;
        //&:hover{
        //    color:#888;
        //    background-color: #FFF;
        //
        //}
    }
}
