.news-list-section{
    padding-top:80px;
    padding-bottom: 100px;
}
.news-list{
    a{
        text-decoration: none;
    }
    .search-bar{
        margin-top:0px;
        margin-bottom: 100px;
        border-bottom: 2px solid #000;
        padding-bottom: 25px;
    }
    .categories{
        ul{
            list-style: none;
            padding:0;
            margin:0;
            li{
                display: inline-block;
                margin-right: 100px;
                font-size: 18px;
                font-weight: 600;
                &:last-child{
                    margin-right: 0;
                }
            }
        }
    }
    .news-block{
        width: 100%;
        max-width: 505px;
        margin: auto;
        min-height: 200px;
        //background-color:red;
        margin-bottom: 70px;
        color:#000;
        header{
            font-weight: 900;
            border-bottom: 2px solid #000;
            margin-bottom: 20px;
            .category{
                text-transform: uppercase;
            }
        }
        .thumbnail{
            width:100%;
            padding-top: 57%;
            background-size: cover;
            background-position: center;
        }
        footer{
            h3{
                font-size: 22px;
                max-width: 310px;
            }
            .readmore{

                border-bottom: 2px solid #000;
                font-size: 18px;

            }
        }
    }
}
